@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin: 0; padding: 0; }

a:active, a:focus, a { outline: none; }

body { font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体"; width: auto; min-width: 1210px; background-image: url(../images/main-bg.jpg); background-repeat: repeat; }

li { list-style-type: none; }

.clear { clear: both; }

.fl { float: left; }

.fr { float: right; }

.fz12 { font-size: 12px; }

.wfs { width: 100%; }

.cover-page-wrapper { width: 1210px; margin: 0 auto; }

.cover-page-wrapper a:hover { text-decoration: none; }

.shop-cart-wrapper { width: 1160px; margin: 0 auto; }

.regist-process-wrapper { width: 1200px; margin: 0 auto; }

.w484 { width: 484px; }

.w241 { width: 241px; }

.mr1 { margin-right: 1px; }

.mt50 { margin-top: 50px; }

.mt20 { margin-top: 20px; }

.pt50 { padding-top: 50px; }

.bcf2 { background-color: #f2f2f2; padding-bottom: 30px; }

.bceb { background-color: #ebebf0; }

.bcf7 { background-color: #f7f7f7; }

.ahover { color: #ef353d; text-decoration: none; }

.cover-page-index .flink-service .flink .list a:hover, .cover-page-index .flink-service .service a:hover, .cover-page-index .demos dd a:hover, .cover-page-foot .subnav a:hover, .cover-page-index .church .reputation .template-community:hover, .cover-page-index .church .reputation .items a:hover, .cover-page-index .church dl dd b a:hover, .cover-page-details .details .right p.offer-item a:hover, .cover-page-list .left .also-like .likes-li strong a:hover, .boutique .items-li .description a:hover { color: #ef353d; text-decoration: none; }

.head { padding-top: 30px; padding-bottom: 30px; background-color: #181818; }
.head .listing { margin-left: 30px; margin-right: 30px; *margin-right: 0; background-repeat: no-repeat; background-position: left 5px; }
.head .listing img { margin-top: -25px; }
.head .search-product { position: relative; z-index: 1200; float: left; width: 463px; height: 40px; margin-top: 5px; }
.head .search-product .search-box { float: left; width: 420px; height: 40px; *width: 403px; border: 1px solid #ccc; color: #CCC; -moz-border-radius: 2px 0px 0px 2px; -webkit-border-radius: 2px; border-radius: 2px 0px 0px 2px; -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; border-top-right-radius: 0px; -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; border-bottom-left-radius: 0px; -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; border-bottom-right-radius: 0px; }
.head .search-product .submit { float: left; width: 42px; height: 40px; background: url(../images/top-a.png) no-repeat; border: 1px solid #ccc; text-indent: -9999px; -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; border-top-right-radius: 0px; -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; border-top-left-radius: 0px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; border-bottom-left-radius: 0px; }
.head .efhl-head-operate a { float: left; margin-left: 30px; padding-top: 25px; font-size: 12px; color: #8A8D92; background-repeat: no-repeat; }
.head .efhl-head-operate .login { background-image: url(../images/login.png); }
.head .efhl-head-operate .watch { background-image: url(../images/watch.png); }
.head .efhl-head-operate .quest { background-image: url(../images/quest.png); }

.nav { height: 48px; line-height: 48px; background-color: #000; z-index: 1000; }
.nav a { color: #fff; }
.nav a:hover { color: #fff; text-decoration: none; }
.nav .nav-menus { position: relative; z-index: 105; }
.nav .nav-menus .handle { float: left; width: 250px; height: 48px; font-size: 14px; background-color: #414141; }
.nav .nav-menus .handle i { float: left; width: 18px; height: 13px; margin-top: 17px; margin-right: 15px; margin-left: 43px; background: url(../images/cover-page-nav.png) no-repeat; }
.nav .nav-menus .nav_banner { width: 250px; height: 425px; position: absolute; left: 0; z-index: 10; display: block; top: 48px; }
.nav .nav-menus .nav_banner a { color: #333; }
.nav .nav-menus .nav_banner .pull-nav { position: relative; z-index: 2; background: rgba(0, 0, 0, 0.5); }
.nav .nav-menus .nav_banner .pull-nav li { height: 106.25px; color: #fff; font-size: 14px; position: relative; }
.nav .nav-menus .nav_banner .pull-nav li a { color: #fff; display: inline-block; height: 106.25px; width: 210px; padding: 30px 0 30px 30px; }
.nav .nav-menus .nav_banner .pull-nav li a:hover { text-decoration: none; }
.nav .nav-menus .nav_banner .pull-nav li h3 { font-size: 18px; line-height: 25px; }
.nav .nav-menus .nav_banner .pull-nav li p { height: 20px; margin: 5px 0; }
.nav .nav-menus .nav_banner .pull-nav div { float: left; height: 85px; }
.nav .channel { float: left; width: 100px; font-size: 14px; text-align: center; }
.nav .channel:hover, .nav .nav .channel-now { background-color: #414141; }
.nav .cart { float: right; width: 154px; background-color: #4E4E4E; padding-left: 20px; }
.nav .cart a { display: block; }
.nav .cart a img { width: 78px; }
.nav .cart span { float: left; margin-right: 15px; color: #fff; }
.nav .cart strong { font-style: normal; font-weight: normal; }
.nav .cart:hover .car_ul { height: 300px !important; opacity: 1 !important; }

@media (max-width: 1024px) { body .cover-page-efhl-index .efhl-link-us { padding: 20px; }
  body .cover-page-efhl-index .efhl-link-us .service { margin-left: 6px; }
  body .cover-page-efhl-index .efhl-link-us dl { margin: 6px; } }
@media (max-width: 1024px) { body .cover-page-efhl-index .church { padding: 20px; }
  body .cover-page-efhl-index .church .knowledge, body .cover-page-efhl-index .church .letters { margin-left: 6px; } }
.cover-page-efhl-index .church dl { width: 386px; }
.cover-page-efhl-index .church dl dt { padding-bottom: 20px; }
.cover-page-efhl-index .church .title { overflow: hidden; }
.cover-page-efhl-index .church .title a.title-a { color: #333; }
.cover-page-efhl-index .church .title a.title-a:hover { text-decoration: underline; }
.cover-page-efhl-index .church .title .h3 { float: left; margin: 0px; padding: 5px 0px; }
.cover-page-efhl-index .church .title i { float: left; display: block; width: 40px; height: 35px; margin-left: 10px; }
.cover-page-efhl-index .church .reputation .title i { background: no-repeat url(../images/cover-page-tang-1.png) 0px 5px; }
.cover-page-efhl-index .church .reputation dd { padding-top: 13px; padding-bottom: 5px; *padding-bottom: 13px; background-color: #E4F0CA; }
.cover-page-efhl-index .church .reputation .template-community { width: 83px; margin-top: 20px; margin-left: 33px; padding-top: 95px; padding-bottom: 22px; color: #333; text-align: center; background: url(../images/cover-page-tang-4.png) no-repeat; }
.cover-page-efhl-index .church .reputation .items { width: 145px; margin-left: 30px; padding-left: 30px; padding-top: 20px; padding-bottom: 20px; border-left: 1px solid #fff; font-size: 12px; }
.cover-page-efhl-index .church .reputation .items a { line-height: 27px; color: #333; text-indent: 10px; }
.cover-page-efhl-index .church .reputation .items a:hover { color: #ef353d; }
.cover-page-efhl-index .church .knowledge { margin-left: 26px; }
.cover-page-efhl-index .church .knowledge .title i { background: no-repeat url(../images/cover-page-tang-2.png) 0px 5px; }
.cover-page-efhl-index .church .knowledge .title .more { width: 50px; height: 24px; margin-top: 5px; font-weight: normal; line-height: 22px; color: #333; text-align: center; border-radius: 3px; }
.cover-page-efhl-index .church .knowledge .title .more span { float: right; padding-right: 8px; }
.cover-page-efhl-index .church .knowledge .title .more:hover span { text-decoration: underline; cursor: pointer; }
.cover-page-efhl-index .church .knowledge dd { background-color: #FAE6D9; padding-top: 20px; padding-bottom: 20px; }
.cover-page-efhl-index .church .knowledge dd b a { float: left; width: 100%; font-size: 12px; font-weight: normal; line-height: 27px; color: #333; text-indent: 33px; }
.cover-page-efhl-index .church .knowledge dd a:hover { color: #ef353d; }
.cover-page-efhl-index .church .letters { margin-left: 26px; }
.cover-page-efhl-index .church .letters .title i { background: no-repeat url(../images/cover-page-tang-3.png) 0px 5px; }
.cover-page-efhl-index .church .letters .title .more { width: 50px; height: 24px; margin-top: 5px; font-weight: normal; line-height: 22px; color: #333; text-align: center; border-radius: 3px; }
.cover-page-efhl-index .church .letters .title .more span { float: right; padding-right: 8px; }
.cover-page-efhl-index .church .letters .title .more:hover span { text-decoration: underline; cursor: pointer; }
.cover-page-efhl-index .church .letters dd { background-color: #D6EEF2; padding-top: 20px; padding-bottom: 20px; }
.cover-page-efhl-index .church .letters dd b a { float: left; width: 100%; font-size: 12px; font-weight: normal; line-height: 27px; color: #333; text-indent: 33px; }
.cover-page-efhl-index .church .letters dd a:hover { color: #ef353d; }
.cover-page-efhl-index .efhl-link-us { margin-top: 30px; padding-top: 15px; padding-bottom: 10px; border-top: 1px solid #DFDFDF; }
.cover-page-efhl-index .efhl-link-us .service { width: 240px; float: left; margin-left: 20px; }
.cover-page-efhl-index .efhl-link-us .service b { display: block; margin-top: 10px; color: #333; }
.cover-page-efhl-index .efhl-link-us .service strong { float: left; margin-top: 10px; font-size: 18px; color: #FC726F; }
.cover-page-efhl-index .efhl-link-us .service a.service_kefu { float: left; padding-left: 26px; font-size: 12px; color: #92928F; background-image: url(../images/cover-page-service-2.png); background-repeat: no-repeat; background-position: left center; display: block; width: 80px; *width: 60px; height: 20px; line-height: 20px; margin-top: 20px; margin-right: 10px; }
.cover-page-efhl-index .efhl-link a { color: #333; }
.cover-page-efhl-index .efhl-link dl { width: 220px; *width: 215px; margin: 10px; padding-right: 0px; border-right: 2px solid #E3E3E3; }
.cover-page-efhl-index .efhl-link dd { position: relative; float: left; padding-top: 5px; }
.cover-page-efhl-index .efhl-link dd a { float: left; margin-right: 20px; font-size: 12px; line-height: 25px; color: #606060; }
.cover-page-efhl-index .efhl-link dd a:hover { color: #ef353d; }

.cover-page-efhl-foot { padding: 30px 0px; font-size: 12px; color: #3A3A3A; text-align: center; background-color: #181818; }
.cover-page-efhl-foot .copyright { color: #888; }
.cover-page-efhl-foot .copyright a { padding-right: 5px; color: #888; }
