.shop-card .caption h4 { font-size: 14px; }
.shop-card .caption h4.price { color: #FC7878; font-weight: bold; }
.shop-card .caption p { height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
